@charset "utf-8";
body{font-family:"微软雅黑",Arail,verdana;font-size:14px;color:#666;background:#eee;}
select,input{vertical-align:middle;}
img{vertical-align:top;}


/*默认超链接*/
a{color:#036; text-decoration:none;}
a:hover{color:#f60;}
a:focus/*取消链接的虚线*/{outline:none;-moz-outline:none;} 

/*头部导航*/
.header{margin-left:auto;margin-right:auto;width:100%;padding:10px 0;}
.header .logo{float:left;width:200px;font-size:22px;text-align:left;padding-left:10px;}
.header .logo a{color:#666;}
.header .logo img{width:90px;height:48px;}
.header .city{float:right;width:50px;padding-left:20px;background:url(../img/city.png) no-repeat 0 0;}
.header .city a,.header .city a:hover{color:#666;}

/*导航*/
.topmenu{margin-left:auto;margin-right:auto;background:url(../img/topbg.jpg) repeat-x;height:40px;}
.topmenu a{display:block;float:left;font-size:14px;line-height:40px;color:#fff;text-indent:20px;}
.topmenu a:hover{color:#fff;}
.topmenu .index{width:80px;height:40px;background:url(../img/topnav.jpg) no-repeat 0 0;}
 
/**/
.indexmain{margin-left:auto;margin-right:auto;width:320px;}

/*导航*/
.comnav{background:#d1d1d1;padding:10px 0;color:#333;text-align:center;font-size:16px;position:relative;}
.comnav .reback{position:absolute;top:5px;left:10px;display:block;width:80px;height:30px;line-height:30px;background:url(../img/reback.png) no-repeat 0 7px;font-size:14px;color:#333;}
.comnav .home{position:absolute;top:5px;right:10px;display:block;width:80px;height:30px;line-height:30px;background:url(../img/home.png) no-repeat right 7px;font-size:14px;color:#333;}

.reback:hover{color:#333;}

/*顶部搜索*/
.topsearch{width:100%;height:50px;}
.topsearch .box{margin-left:auto;margin-right:auto;width:300px;padding:5px 10px;height:43px;background:url(../img/search.png) no-repeat;}
.topsearch .box .keyword{width:250px;padding:6px 8px;background:#fff;border:none;font-family:"微软雅黑";font-size:14px;}
.topsearch .box .but01{width:30px;height:33px;border:none;background:none;font-family:"微软雅黑";color:#fff;font-size:14px;}
.modelbox a{color:#666;}
.main{margin-left:auto;margin-right:auto;padding:0 10px;background:#eee;}

.topmenulist{width:100%;background:#ff7900;border-top:1px solid #e66f03;height:30px;line-height:30px;}
.topmenulist ul{margin-left:auto;margin-right:auto;width:310px;border-left:1px solid #e66f03;}
.topmenulist ul li{float:left;height:30px;line-height:30px;}
.topmenulist ul li a{float:left;display:block;color:#fff;font-size:14px;font-weight:bold;width:102px;text-align:center;border-right:1px solid #e66f03;}

/**/
.indexbox h3{height:35px;line-height:35px;font-size:14px;color:#333;background:#f5f5f5;border-bottom:1px solid #d8d8d8;}
.indexbox h3 .title{border-left:3px solid #ff6600;padding-left:10px;}
.indexbox .box{background:#fff;}
.indexbox .box a.bbr{border-right:1px solid #d8d8d8;}
.indexbox .box a{float:left;display:block;width:79px;height:45px;line-height:45px;text-align:center;border-bottom:1px solid #d8d8d8;color:#666;}

.indexcarlist li{float:left;padding:10px 12px;width:120px;}
.indexcarlist li img{width:120px;height:90px;}
.more{float:right;color:#666;font-size:12px;}
.indexcarlist li a{color:#666;}

/*按钮*/
.indexmenu{background:#fff;}
.indexmenu li{float:left;width:79px;text-align:center;}
.indexmenu li.bbr{border-right:1px solid #d8d8d8;}

.indexmenu li .menu01{margin-left:auto;margin-right:auto;display:block;width:35px;padding:55px 0 10px 0;background:url(../img/indexmenu.png) no-repeat center 15px;color:#666;}
.indexmenu li .menu02{margin-left:auto;margin-right:auto;display:block;width:35px;padding:55px 0 10px 0;background:url(../img/indexmenu.png) no-repeat center -56px;color:#666;}
.indexmenu li .menu03{margin-left:auto;margin-right:auto;display:block;width:35px;padding:55px 0 10px 0;background:url(../img/indexmenu.png) no-repeat center -127px;color:#666;}
.indexmenu li .menu04{margin-left:auto;margin-right:auto;display:block;width:35px;padding:55px 0 10px 0;background:url(../img/indexmenu.png) no-repeat center -198px;color:#666;}
.indexmenu li .menu05{margin-left:auto;margin-right:auto;display:block;width:35px;padding:55px 0 10px 0;background:url(http://car.naqcw.com/css/m/img/indexmenu1.png) no-repeat center 15px;color:#666;}
.indexmenu li .menu06{margin-left:auto;margin-right:auto;display:block;width:35px;padding:55px 0 10px 0;background:url(http://car.naqcw.com/css/m/img/indexmenu1.png) no-repeat center -56px;color:#666;}
.indexmenu li .menu07{margin-left:auto;margin-right:auto;display:block;width:35px;padding:55px 0 10px 0;background:url(http://car.naqcw.com/css/m/img/indexmenu1.png) no-repeat center -127px;color:#666;}
.indexmenu li .menu08{margin-left:auto;margin-right:auto;display:block;width:35px;padding:55px 0 10px 0;background:url(http://car.naqcw.com/css/m/img/indexmenu1.png) no-repeat center -198px;color:#666;}








/*推荐车源*/
.comdealerlist li{float:left;padding:8px;width:80px;}
.comdealerlist li img{width:80px;height:80px;}
.comdealerlist li .dealerimg{display:block;width:80px;text-align:center;color:#999;height:80px;line-height:80px;background:#eee;}
.comdealerlist li a{color:#666;}

/*搜索*/
.search{margin-left:auto;margin-right:auto;width:310px;padding:0 5px;}
.search .search_list{padding:0;}
.search .search_list li{height:40px;line-height:40px;overflow:hidden;background:url(../img/line.gif) repeat-x 0 bottom;color:#999;}
.search .search_list li a{display:block;color:#333;font-size:14px;background:url(../img/dot.gif) no-repeat 300px 15px;}

/*排序*/
.orderbox{margin-left:auto;margin-right:auto;width:320px;background:#fff;border-left:1px solid #d8d8d8;border-top:1px solid #d8d8d8;}
.orderbox li{float:left;}
.orderbox li a{display:block;width:79px;height:35px;line-height:35px;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;text-align:center;color:#666;font-size:14px;}
.orderbox li a.or02{background:url(../img/order.png) no-repeat 60px 16px}
.orderbox li a.or03{background:url(../img/order.png) no-repeat 60px -14px}
.orderbox li a.or04{background:url(../img/order.png) no-repeat 60px -45px}

.entersearch{text-align:center;height:45px;line-height:45px;color:#fff;border:1px solid #7a9d37;background:url(../img/entersearch.jpg) repeat-x;}
.entersearch a{color:#fff;font-size:14px;font-weight:bold;}

/*车源列表*/
.carlist{border:1px solid #d8d8d8;background:#fff;padding:5px;}
.carlist_left{float:left;width:100px;line-height:70px;text-align:center;color:#999;}
.carlist_left a{color:#999;}
.carlist_left img{width:100px;height:70px;}
.carlist_right{margin-left:115px;_float:right;_margin-left:0;}
.carlist_right p{padding:0;}

/*车源详细*/
.carname{height:45px;line-height:45px;padding:0 10px;font-size:16px;color:#fff;background:#666;}
.carspicbox{background:#ccc;padding:10px;}
.carspic li{float:left;padding:5px;width:290px;height:230px;}
.carspic li img{width:290px;}
.cardetail .title{font-size:18px;font-weight:bold;}
.detaillist li{float:left;padding:5px;width:150px;}
.detaillist li span{font-weight:bold;}
.detailbox h3{border-bottom:1px solid #eee;font-weight:bold;font-size:14px;height:30px;line-height:30px;background:#fff;padding:0 10px;}
.detailbox .box{line-height:22px;padding:10px;}

/*车源图片*/
.carpic{width:310px;height:230px;margin:0 auto;position:relative;overflow:hidden}
.carpic .hd{width:100%;height:11px;position:absolute;z-index:1;bottom:5px;text-align:center}
.carpic .hd ul{display:inline-block;height:5px;padding:3px 5px;background-color:rgba(255,255,255,0.7);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:0;vertical-align:top}
.carpic .hd ul li{display:inline-block;width:5px;height:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#8C8C8C;margin:0 5px;vertical-align:top;overflow:hidden}
.carpic .hd ul .on{background:#FE6C9C}
.carpic .bd{position:relative;z-index:0}
.carpic .bd li img{width:100%;height:230px;background:url(../img/loading.gif) center center no-repeat}
.carpic .bd li a{-webkit-tap-highlight-color:rgba(0,0,0,0)}


/*分页*/
.pagelist{padding:10px;margin:10px 0;text-align:center;}
.pagelist a,.pagelist span{border:1px solid #d8d8d8;background:#f9f9f9;padding:3px 5px;margin-right:3px;}
.pagelist a.selected{background:#ff8800;border:1px solid #ff8800;color:#fff;}


/*店铺*/
.shoptopbox{margin-top:10px;border:1px solid #d8d8d8;background:#f9f9f9;padding:10px;}
.shoptopbox .shoplogo{float:left;width:80px;}
.shoptopbox .shoplogo img{width:80px;height:80px;}
.shoptopbox .shopinfo{float:right;width:190px;}
.shoptopbox .shoplogo .shopimg{display:block;width:80px;text-align:center;color:#999;height:80px;line-height:80px;background:#eee;}

.clicktel{display:block;width:153px;height:25px;background:url(../img/tel.jpg) no-repeat 0 0;}
.entermenu,.entermenu:hover{display:block;width:100%;padding:3px 10px;background:#ff6600;color:#fff;font-weight:bold;}


/*卖车*/
.selltelbox{padding:10px 20px;background:#fff;}
.selltelbox p{padding:5px 0;}
.inp01{width:100%;padding:10px 0;border:1px solid #d8d8d8;text-indent:10px;font-size:14px;font-family:"微软雅黑";}
.butdiv{margin-left:auto;margin-right:auto;}
.button01{display:block;width:100%;background:#ff5500;color:#fff;font-weight:bold;font-size:14px;font-family:"微软雅黑";border:none;padding:10px 0;}
.button01:hover{color:#fff;}
.kilobox{position:relative;}
.kilobox .kilo{position:absolute;top:10px;right:10px;font-size:14px;}

/*筛选*/
.supersearchbox{padding:20px;}
.supersearchbox li a{display:block;margin-top:10px;border:1px solid #d8d8d8;background:#fff;padding:10px;font-size:14px;}
.supersearchbox li a label{color:#333;}
.supersearchbox li a .all{float:right;color:#666;}

.optionlist li a{display:block;height:45px;line-height:45px;border-bottom:1px solid #d8d8d8;padding:0 15px;}
.optionlist li a:hover{background:#666;color:#fff;}



body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0}
address,caption,cite,code,dfn,em,strong,th,var
{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
q:before,q:after {content:''}
abbr,acronym { border:0}
input,select{vertical-align:middle;}
/*文字排版*/
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.cnl{text-decoration:line-through;}
/*字体*/
.fms{font-family:"宋体";}
.fmh{font-family:"黑体";}
.fma{font-family:arial;}
.fmab{font-family:arial black;}
/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.bc{margin-left:auto;margin-right:auto;}
.bbn{border-bottom:none;}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
.vm{vertical-align:middle}
.vt{vertical-align:top}
.vtimg img{vertical-align:top;}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.z1{z-index:1;}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}
/*长度高度*/
.w10{width:10px}
.w20{width:20px}
.w30{width:30px}
.w40{width:40px}
.w50{width:50px}
.w60{width:60px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w200{width:200px}
.w250{width:250px}
.w300{width:300px}
.w360{width:360px}
.w400{width:400px}
.w475{width:475px}
.w500{width:500px}
.w600{width:600px}
.w700{width:700px}
.w800{width:800px}
.w950{width:950px}
.w960{width:960px}
.w{width:100%}
.h50{height:50px}
.h80{height:80px}
.h100{height:100px}
.h200{height:200px}
.h900{height:810px}
.h{height:100%}
/*边距*/
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pr100{padding-right:100px}
/*颜色*/
.red,a.redA{color:red;}/*红#f00*/
.red01,a.red01A{color:#c00;}
.green,a.greenA{color:green;}/*绿#008000*/
.blue,a.blueA{color:blue;}/*#蓝00f*/
.blue01,a.blue01A{color:#0882C5;}
.blue02,a.blue02A{color:#69c;}
.black,a.blackA{color:black;}/*黑#000*/
.gray,a.grayA{color:gray;}/*灰#808080*/
.gray01,a.gray01A{color:#999;}
.gray02,a.gray02A{color:#666;}
.gray03,a.gray03A{color:#333;}
.yellow,a.yellowA{color:yellow;}/*黄#ff0*/
.orange,a.orangeA{color:orange;}/*橙#ffa500*/
.orange01,a.orange01A{color:#f60;}
.white,a.whiteA{color:white;}/*白#fff*/
.purple,a.purpleA{color:purple;}/*紫#800080*/
.cyan,a.cyanA{color:cyan;}/*青#0ff*/
a.greenA:hover,a.blueA:hover,a.blue01A:hover,a.blue02A:hover,a.blackA:hover,a.grayA:hover,a.gray01A:hover,a.gray0A:hover,a.gray03A:hover{color:#f60;}
a.orangeA:hover,a.orange01A:hover{text-decoration:underline;}



/*底部信息*/
.footer{border-top:1px solid #d8d8d8;padding-top:15px;padding-bottom:15px;text-align:center;background:#f9f9f9;}
.footer p,.footer p a{line-height:20px;font-size:14px;}