<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/common.js"></script>
</head>
<body>
<div class="colorarea01">
	<div class="search clearfix">
		<div class="searchL">
			<ul class="menulist">
				<li><a href="<{$adminpage}>?m=agency_service&a=add" class="add">添加代办服务</a></li>
			</ul>
		</div>
	</div>
	<form action="<{$adminpage}>?m=agency_service" method="POST" name="form">
		<table cellspacing="0" cellpadding="0" width="100%" class="listtable">
			<tr>
				<th width="30">选择</th>
				<th>排序</th>
				<th>图标</th>
				<th>名称</th>
				<th>电话</th>
				<th>地址</th>
				<th>操作</th>
			</tr>
			<{foreach from=$filmlist item=filmlist}>
			<tr>
				<td align="center"><input type="checkbox" name="bulkid[]" value="<{$filmlist.id}>"></td>
				<td align="center" width="50"><input type="text" size="5" name="orderid[<{$filmlist.id}>]" value="<{$filmlist.orderid}>" class="ip01"/></td>
				<td align="center"><{if $filmlist.logo != "" }><img src="<{$filmlist.logo}>" width="100"/><{else}><{/if}></td>
				<td align="left"><{$filmlist.name}></td>
				<td align="left"><{$filmlist.tel}></td>
				<td align="left"><{$filmlist.address}></td>
				<td align="center" width="120" class="rightmenu"><a href="<{$adminpage}>?m=agency_service&a=edit&id=<{$filmlist.id}>" class="edit">编辑</a> | <a href="javascript:if(confirm('确实要删除吗?'))location='<{$adminpage}>?m=agency_service&a=del&id=<{$filmlist.id}>&typeid=<{$typeid}>'" class="del">删除</a></td>
			</tr>
			<{/foreach}>
			<tr>
				<td colspan="7" class="buttontd">
					<a href="javascript:javascript:selectAll();" title="请选择后操作">全选</a>
					<a href="javascript:submitForm('<{$adminpage}>?m=agency_service&a=bulkdel&typeid=<{$typeid}>','删除');" title="请选择后操作">删除</a>
					<a href="javascript:submitForm('<{$adminpage}>?m=agency_service&a=bulksort&typeid=<{$typeid}>','更新排序');" title="请选择后操作">更新排序</a>
				</td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>