<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/common.js"></script>
</head>
<body>
<div class="colorarea01">
	<div class="search clearfix">
		<div class="searchL">
		</div>
		<div class="searchR">
		<form action="<{$adminpage}>" method="get" name="form2">
		<table cellspacing="0" cellpadding="0" class="toptable">
			<tr>
				<td>
					<input type="text" name="keywords" id="searchkey" value="" class="inp01"> &nbsp;<input type="submit" name="filtersubmit" value="查询" class="combutton02"><input type="hidden" name="m" value="member_safeguard">
					<input type="hidden" name="a" value="list">
				</td>
			</tr>
		</table>
		</form>
		</div>
	</div>
	<form action="<{$adminpage}>?m=member_safeguard" method="POST" name="form">
	<table cellspacing="0" cellpadding="0" width="100%"  class="listtable">
                <tr>
					<th>选择</th>
                    <th>ID</th>
					<th>投诉人姓名</th>
                    <th>投诉人电话</th>
                    <th>被投诉商家</th>
					<th>车型</th>
					<th>行驶里程</th>
					<th>投诉时间</th>
					<th>状态</th>
                    <th width="80">操作</th>
                </tr>
                <{foreach from=$safeguard_list item=ask}>
                <tr bgcolor="#ffffff" onmouseover="style.backgroundColor='#f5f5f5'"  onmouseout="style.backgroundColor='#ffffff'">
                    <td align="center"><input type="checkbox" name="bulkid[]" value="<{$ask.id}>"></td>
                    <td align="center"><{$ask.id}>&nbsp;</td>
                    <td align="center"><{$ask.username}></td>
                    <td align="center"><{$ask.mobile}></td>
					<td align="center"><{$ask.complain_company}></td>
					<td align="center"><{$ask.car_allname}></td>
					<td align="center"><{$ask.kilometre}></td>
					<td align="center"><{$ask.addtime}></td>
					<td align="center"><{$ask.show_status}></td>
					<td align="center">
                        <{if $ask.status==1}>
                        <a href="<{$adminpage}>?m=member_safeguard&a=update_status&id=<{$ask.id}>&page=<{$page}>">点击处理</a> |
                        <{elseif $ask.status==2}>
                        <a href="<{$adminpage}>?m=member_safeguard&a=update_status&id=<{$ask.id}>&page=<{$page}>">点击完成</a> |
                        <{elseif $ask.status==3}>
                        <a href="<{$adminpage}>?m=member_safeguard&a=update_status&id=<{$ask.id}>&page=<{$page}>">查看</a> |
                        <{/if}>
                        <a href="javascript:if(confirm('确实要删除吗?'))location='<{$adminpage}>?m=member_safeguard&a=del&id=<{$ask.id}>&page=<{$page}>'">删除</a>
                    </td>
                </tr>
                <{/foreach}>
	</tr>
	<tr>
		<td colspan="9" class="buttontd" style="text-align:left;">
			<a href="javascript:javascript:selectAll();" title="请选择后操作">全选</a>
			<a href="javascript:submitForm('<{$adminpage}>?m=member_safeguard&a=bulkdel&page=<{$page}>','删除');" title="请选择后操作">删除</a>
		</td>
	</tr>
	</table>
	</form>
	<div class="listpage"><{$button_basic}><{$button_select}></div>
</div>
</body>
</html>