<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/common.js"></script>
</head>
<body>
<div class="colorarea01">
	<div class="search clearfix">
		<div class="searchL">
			<ul class="menulist">
				<li><a href="<{$adminpage}>?m=restaurant_category&a=add" class="add">添加美食分类</a></li>
			</ul>
		</div>
	</div>
	<form action="<{$adminpage}>?m=restaurant_category" method="post" name="form">
		<table cellspacing="0" cellpadding="0" width="100%"  class="listtable">
			<tr>
				<th width="30">选择</th>
				<th width="30">ID</th>
				<th width="60">排序</th>
				<th >名称</th>
				<th >图片</th>
				<th >推荐</th>
				<th width="100">操作</th>
			</tr>
			<{foreach from=$sortlist item=sort_list}>
			<tr>
				<td align="center"><input type="checkbox" name="bulkid[]" value="<{$sort_list.id}>"></td>
				<td align="center"><{$sort_list.id}></td>
				<td align="center"><input type="text" size="5" name="orderid[<{$sort_list.id}>]" value="<{$sort_list.orderid}>" class="ip01"></td>
                <td align="center"><{$sort_list.name}></td>
                <td align="center"><{if $sort_list.logo != "" }><a href="<{$sort_list.logo}>" target="_blank"><img src="<{$sort_list.logo}>" width="100"/></a><{else}><{/if}></td>

                <td align="center">
                    <{if $sort_list.isrecom}>是<{else}>否<{/if}>
                </td>
				<td align="center" class="rightmenu"><a href="<{$adminpage}>?m=restaurant_category&a=edit&id=<{$sort_list.id}>" class="edit">编辑</a> | <a href="javascript:if(confirm('确实要删除吗?'))location='<{$adminpage}>?m=restaurant_category&a=del&id=<{$sort_list.id}>'" class="del">删除</a></td>
			</tr>
			<{/foreach}>
			<tr>
				<td colspan="7" class="buttontd"><a href="javascript:javascript:selectAll();" title="请选择后操作">全选</a> <a href="javascript:submitForm('<{$adminpage}>?m=restaurant_category&a=bulkdel','删除');" title="请选择后操作">删除</a> <a href="javascript:submitForm('<{$adminpage}>?m=restaurant_category&a=bulksort','更新排序');" title="请选择后操作">更新排序</a></td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>