<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/common.js"></script>
</head>
<body>
<div class="colorarea01">
	<div class="search clearfix">
		<div class="searchL">
			<ul class="menulist">
				<li><a href="<{$adminpage}>?m=talents&a=add" class="add">添加人才</a></li>
			</ul>
		</div>
		<div class="searchR">
		<form action="<{$adminpage}>" method="get" name="form2">
		<table cellspacing="0" cellpadding="0" class="toptable">
			<tr>
				<td>
					人才姓名：<input type="text" name="keywords" id="searchkey" value="" class="inp01"> &nbsp;<input type="submit" name="filtersubmit" value="查询" class="combutton02"><input type="hidden" name="m" value="talents">
					<input type="hidden" name="a" value="list">
				</td>
			</tr>
		</table>
		</form>
		</div>
	</div>
	<form action="<{$adminpage}>?m=talents" method="POST" name="form">
	<table cellspacing="0" cellpadding="0" class="listtable">
	<tr>
		<th width="30">选择</th>
		<th width="30">ID</th>
		<th>姓名</th>
		<th>头像</th>
		<th>类型</th>
		<th>所属公司</th>
		<th>添加时间</th>
		<th width="160">操作</th>
	</tr>
	<{foreach from=$newslist item=news}>
	<tr>
		<td align="center"><input type="checkbox" name="bulkid[]" value="<{$news.id}>"></td>
		<td align="center"><{$news.id}></td>
		<td align="center"><{$news.name}></td>
		<td align="center"><img src="<{$news.logo}>" width="100"/></td>
		<td align="center"><{$news.type}></td>
		<td align="center"><{$news.company}></td>
		<td align="center"><{$news.addtime|date_format:"%Y-%m-%d %H:%M"}></td>
		<td align="center" class="rightmenu">
            <a href="<{$adminpage}>?m=talents&a=edit&id=<{$news.id}>&page=<{$page}>" class='edit'>编辑</a> | <a href="javascript:if(confirm('确实要删除吗?'))location='<{$adminpage}>?m=talents&a=del&id=<{$news.id}>&page=<{$page}>'" class="del">删除</a>
	</td>
	</tr>
	<{/foreach}>
	<tr>
		<td colspan="9" class="buttontd" style="text-align:left;">
			<a href="javascript:javascript:selectAll();" title="请选择后操作">全选</a>
			<a href="javascript:submitForm('<{$adminpage}>?m=talents&a=bulkdel&page=<{$page}>','删除');" title="请选择后操作">删除</a>
		</td>
	</tr>
	</table>
	</form>
	<div class="listpage"><{$button_basic}><{$button_select}></div>
</div>
</body>
</html>