<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><{$cars.p_allname}>_南安汽车网|南安二手车|南安车市|南安汽车报价|南安汽车团购服务_南安汽车网_NaQcw.com</title>
<meta name="keywords" content="南安汽车网,南安二手车,南安车市,南安汽车报价,南安汽车团购服务,南安二手汽车,南安二手车网,南安二手车市场,南安旧车,南安卖车,南安买车,南安购车,南安二手车价格,南安二手车参考价,南安经销商,南安二手车报价,南安二手货车,南安二手面包车,南安二手出租车,南安二手车求购,南安二手车置换,南安二手车评估,南安二手车保险,南安二手车检测,南安二手车资讯,南安二手车新闻,南安二手车杂志,南安二手车网，南安汽车网,南安二手车,南安二手车网,大南安二手车,南安二手估价,南安二手买卖,二手车报价,二手车交易市场,大南安汽车网" />
<meta name="description" content="南安汽车网,南安二手车,南安车市,南安汽车报价,南安汽车团购服务,南安二手汽车,南安二手车网,南安二手车市场,南安旧车,南安卖车,南安买车,南安购车,南安二手车价格,南安二手车参考价,南安经销商,南安二手车报价,南安二手货车,南安二手面包车,南安二手出租车,南安二手车求购,南安二手车置换,南安二手车评估,南安二手车保险,南安二手车检测,南安二手车资讯,南安二手车新闻,南安二手车杂志,南安二手车网，南安汽车网,南安二手车,南安二手车网,大南安二手车,南安二手估价,南安二手买卖,二手车报价,二手车交易市场,大南安汽车网" />
		<link href="http://car.xqzqc.com/css/css/car.css" rel="stylesheet" type="text/css"/>
        <link href="http://car.xqzqc.com/static/css/admin/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://car.xqzqc.com/static/js/jquery.js"></script>
		<script type="text/javascript" src="http://car.xqzqc.com/static/js/layer/layer.min.js"></script>
		<script type="text/javascript" src="http://car.xqzqc.com/static/js/laydate/laydate.js"></script>
		<script type="text/javascript" src="http://car.xqzqc.com/static/js/jquery.SuperSlide.2.1.js"></script>
		<script type="text/javascript" src="http://car.xqzqc.com/static/js/Validform_v5.3.2_min.js"></script>
        

		</head>
	<body>
<!--内容--> 
<{include file="default/`$setting.templates`/head.html"}>
<div class="nav">您当前的位置：<a href="http://www.naqcw.com/" target="_blank">南安汽车网</a> <span>></span> <a href="http://car.naqcw.com/">南安汽车选购</a> <span>></span> 对比车源 </a> <span>></span>  <{foreach from=$carslist item=cars}>
<{$cars.carname}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <{/foreach}></div>
<div class="main mt10">
  <div class="main mt20 clearfix">
   <table cellspacing="0" cellpadding="0" width="100%"  class="listtable mt10">
    <tr bgcolor="#FFFFFF" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">	
    <td align="left"width="200"><div>对比车型</div></td>
    <{foreach from=$carslist item=cars}> 
    <td align="center" width="200"><div style="margin-top:15px"><img src="<{$cars.p_mainpic}>"></div><div><font size="2px"><{$cars.carname}></font></div><div><font size="2px" color="#FF0000"><{$cars.tel}></font>&nbsp;&nbsp;&nbsp;<span><font size="2px"><{$cars.username}></font></span></div></td>
    <{/foreach}>
	</tr>    
    <tr><th colspan="4" align="left"><font size="3px">二手车详情</font></th></tr>       
    <tr bgcolor="#FFFFFF"  onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">	
    <td align="left"width="200">价格</td>
    <{foreach from=$carslist item=cars}> 
    <td align="center" width="200"><{$cars.price}></td>
    <{/foreach}>
	</tr> 
    <tr bgcolor="#FFFFFF" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">	
    <td align="left"width="200">车辆来源</td>
    <{foreach from=$carslist item=cars}> 
    <td align="center" width="200"><{$cars.usertype}></td>
    <{/foreach}>
	</tr> 
    <tr bgcolor="#FFFFFF" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">	
    <td align="left"width="200">发布时间</td>
    <{foreach from=$carslist item=cars}> 
    <td align="center" width="200"><{$cars.p_addtime}></td>
    <{/foreach}>
	</tr>    
    <tr bgcolor="#FFFFFF" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">	
    <td align="left"width="200">牌照地点</td>
    <{foreach from=$carslist item=cars}> 
    <td align="center" width="200"><{$cars.city}></td>
    <{/foreach}>
	</tr>   
    <tr bgcolor="#FFFFFF" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">	
    <td align="left"width="200">首次上牌时间</td>
    <{foreach from=$carslist item=cars}> 
    <td align="center" width="200"><{$cars.city}></td>
    <{/foreach}>
	</tr>   
    <tr bgcolor="#ffffff" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">	
    <td align="left"width="200">行驶里程</td>
    <{foreach from=$carslist item=cars}> 
    <td align="center" width="200"><{$cars.kilometre}>公里</td>
    <{/foreach}>
	</tr>  
    <tr bgcolor="#ffffff" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">	
    <td align="left"width="200">车身颜色</td>
    <{foreach from=$carslist item=cars}> 
    <td align="center" width="200"><{$cars.color}></td>
    <{/foreach}>
	</tr>  
    <tr bgcolor="#ffffff" onmouseover="style.backgroundColor='#E2E9EA'"  onmouseout="style.backgroundColor='#ffffff'">	
    <td align="left"width="200">环保标准</td>
    <{foreach from=$carslist item=cars}> 
    <td align="center" width="200"><{$cars.emission}></td>
    <{/foreach}>
	</tr>      
	</table>
</div>
</div>
<{include file="default/`$setting.templates`/foot.html" }>
</body>
</html>

