<{if 1==2}>
<{include file="default/`$setting.templates`/top.html"}>
<div class="headw">
	<div class="heada">
		<div class="logo"><a href="http://www.qzqcw.com/"><img src="http://www.qzqcw.com/images/logo.png"></a></div>
	<div class="topcity">
				<a href="/?m=citylist"><div class="topcitybox"><i></i><script src="/?m=city"></script></a><div class=clear></div>
				<span><a href="/?m=city&cid=0">总站</a> <a href="/?m=city&cid=2">泉州</a> <a href="/?m=city&cid=3">南安</a> <a href="/?m=city&cid=10">其他</a> <span>
				</div>
				</div>
		<div class="topsearch">
			<div class="topsearchbox">
			<form method="get" action="<{$weburl}>/index.php">
				<input type="text" name="k" class="keywords"><input type="submit" value="" class="button"/>
				<input type="hidden" name="m" value="search">
			</form>
			</div>
			<p class="topkeywords"><{foreach from=$cache.topkeywords item=keywords}><a href="/?m=search&k=<{$keywords.keyword}>"><{$keywords.keywords}></a>&nbsp;&nbsp;<{/foreach}></p>
		</div>
	</div>
</div>
<!-- qzqcw.com 全网通用顶部 end -->
<div class="ads"></div>
<div class="dh">
<div class="nav_list main">
	<ul class="clearfix">
<{foreach from=$partlist key=key item=part}>
<li><a href="<{if $part.c_target==2}><{$part.c_url}><{else}><{$part.c_url}><{/if}>" title="<{$part.c_name}>" <{if $menustate==$part.c_id}>class="here"<{/if}> <{if $part.c_target==2}>target="_blank"<{/if}>><{$part.c_name}></a></li>
<{/foreach}>
	</ul>
</div>
</div>
<div class="ads"></div>
<{/if}>