<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>用户登录_泉州汽车网|泉州二手车|泉州车市|泉州汽车报价|泉州汽车团购服务_泉州汽车网_QZQCW.COM</title>
<meta name="keywords" content="泉州汽车网,泉州二手车,泉州车市,泉州汽车报价,泉州汽车团购服务,泉州二手汽车,泉州二手车网,泉州二手车市场,泉州旧车,泉州卖车,泉州买车,泉州购车,泉州二手车价格,泉州二手车参考价,泉州经销商,泉州二手车报价,泉州二手货车,泉州二手面包车,泉州二手出租车,泉州二手车求购,泉州二手车置换,泉州二手车评估,泉州二手车保险,泉州二手车检测,泉州二手车资讯,泉州二手车新闻,泉州二手车杂志,泉州二手车网，泉州汽车网,泉州二手车,泉州二手车网,大泉州二手车,泉州二手估价,泉州二手买卖,二手车报价,二手车交易市场,大泉州汽车网" />
<meta name="description" content="泉州汽车网,泉州二手车,泉州车市,泉州汽车报价,泉州汽车团购服务,泉州二手汽车,泉州二手车网,泉州二手车市场,泉州旧车,泉州卖车,泉州买车,泉州购车,泉州二手车价格,泉州二手车参考价,泉州经销商,泉州二手车报价,泉州二手货车,泉州二手面包车,泉州二手出租车,泉州二手车求购,泉州二手车置换,泉州二手车评估,泉州二手车保险,泉州二手车检测,泉州二手车资讯,泉州二手车新闻,泉州二手车杂志,泉州二手车网，泉州汽车网,泉州二手车,泉州二手车网,大泉州二手车,泉州二手估价,泉州二手买卖,二手车报价,二手车交易市场,大泉州汽车网" />
		<link href="/css/css/user.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/Validform_v5.3.2_min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			//表单验证
			$(".loginform").Validform({
				tiptype:3
			});
		});
		</script>
	</head>
	<body>
		<!--内容-->
		<{include file="default/`$setting.templates`/head.html"}>
		<div class="login_main mt10 clearfix">
			<div class="login_left">
				<div class="title">登录</div>
				<form name="loginform" class="loginform" method="post" action="/?m=login">
					<table class="logintable mt20">
						<tr>
							<th>会员名：</th>
							<td><input type="text" name="username" class="inp01" ajaxurl="/?m=login&ajax=1" datatype="s6-18" errormsg="用户名至少6个字符,最多18个字符！"/></td>
						</tr>
						<tr>
							<th>密&nbsp;&nbsp;&nbsp;码：</th>
							<td><input type="password" name="password" class="inp01"/></td>
						</tr>
						<tr>
							<th></th>
							<td><input type="submit" class="login_but" value="登录"><a href="index.php?mod=register"></a> <input type="hidden" name="action" value="login"></td>
						</tr>
					</table>
				</form>
			</div>
			<div class="login_right">
				<p class="f14 mt20">还不是泉州汽车网会员？</p>
				<p class="mt20"><a href="/?m=register" class="register_but">我要注册</a></p>
			</div>
		</div>
		<!--版权-->
		<{include file="default/`$setting.templates`/foot.html"}>
	</body>
</html>