<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/css/public.css">
    <link rel="stylesheet" href="/css/css/register.css">
    <title><{$cache.settings.sitename}></title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/Validform_v5.3.2_min.js"></script>
</head>

<body>

    <div class="m-register">
        <div class="register-head">
            <img src="/static/img/logo.png" alt="" class="register-head-img">
            <p class="register-head-text">已是<{$cache.settings.sitename}>商家会员？<a href="/?m=login">去登录</a></p>
        </div>
        <div class="register-content">
            <form name="loginform" class="resform" id="loginform" method="post" action="/?m=register" >

            <p class="register-content-title">商家注册</p>
            <div class="register-content-into" id="uesrname">
                <span>用户名<i>*</i></span>
                <input type="text"  name="username" class="inp01" ajaxurl="/?m=register&ajax=1" datatype="s6-18" errormsg="用户名至少6个字符,最多18个字符！"/>
            </div>
            <div class="register-content-into" id="password">
                <span>密码<i>*</i></span>
                <input type="password"  name="password" class="inp01"/>
            </div>
            <div class="register-content-into" id="emali">
                <span>邮箱<i>*</i></span>
                <input type="text" name="email" class="inp01" datatype="e" ajaxurl="/?m=register&ajax=1" nullmsg="请输入邮箱地址！" errormsg="请输入正确的邮箱地址！"/>
            </div>
            <div class="register-content-into" id="person">
                <span>联系人<i>*</i></span>
                <input type="text" name="nicname" class="inp01"  datatype="s" nullmsg="请填写联系人！"/>
            </div>
            <div class="register-content-into" id="phone">
                <span>手机号<i>*</i></span>
                <input type="text" name="mobilephone" class="inp01" datatype="n" ajaxurl="/?m=register&ajax=1" sucmsg="手机号验证通过！" nullmsg="请输入手机号！" errormsg="请输入正确的手机号！"/>
            </div>
            <div class="register-content-into" id="company">
                <span>公司类型<i>*</i></span>
                <select name="shoptype" id="shoptype" datatype="n" nullmsg="请选择公司类型！">
                    <{$select_dealer_category}>
                </select>
            </div>
            <div class="register-content-into" id="companyname">
                <span>公司名称<i>*</i></span>
                <input type="text" name="company" class="inp01"  datatype="s" nullmsg="请填写公司名称！"/>
            </div>
            <input type="hidden" name="isdealer" value="2">
            <button type="submit" class="register-content-btn">注册</button>
        </form>

        </div>
        <div class="register-footer">
            <div class="register-contaner">
                技术支持 青岛广电传媒电子商务有限公司
            </div>
        </div>
    </div>
    <!-- <script src="../lib/jquery/jquery-3.3.0.min.js"></script> -->
    <script>
        $(function () {
			//表单验证
			$(".resform").Validform({
				tiptype:3
			});
        })
    </script>
</body>

</html>