<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=UFUBZ-D7F6F-BWKJS-J4AN5-A5V72-KWBYX&libraries=place"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#codeAddress').click(function () {
                var address = document.getElementById("address").value;
                //通过getLocation();方法获取位置信息值
                geocoder.getLocation(address);
            });

            var lat = <{$user.lat}>;
            var lon = <{$user.lon}>;
            var marker = 0;

            //定义map变量 调用 qq.maps.Map() 构造函数   获取地图显示容器
            var map = new qq.maps.Map(document.getElementById("container"));
            map.zoomTo(10);

            if (lat && lon) {
                map.panTo(new qq.maps.LatLng(lat, lon));

                marker = new qq.maps.Marker({
                    position: new qq.maps.LatLng(lat, lon),
                    map: map
                });
            } else {
                map.panTo(new qq.maps.LatLng(36.06190827662768, 120.38500785827637));
            }

            qq.maps.event.addListener(
                map,
                'click',
                function (event) {
                    // alert('您点击的位置为:[' + event.latLng.getLng() +
                    // ',' + event.latLng.getLat() + ']');
                    getLatLng(new qq.maps.LatLng(event.latLng.getLat(), event.latLng.getLng()))
                }
            );
            //调用地址解析类
            geocoder = new qq.maps.Geocoder({
                complete: function (result) {
                    map.setCenter(result.detail.location);
                    getLatLng(result.detail.location)
                }
            });

            function getLatLng(latLng) {
                if (marker) {
                    marker.setPosition(latLng)
                } else {
                    marker = new qq.maps.Marker({
                        position: latLng,
                        map: map
                    });
                }
                // latLng.getLat(), latLng.getLng()
                // $("#lat_lon").val(latLng.toString());
                $("#lon").val(latLng.getLng())
                $("#lat").val(latLng.getLat())
            }
        })
</script>
<form name="form1" class="carform" method="post" action="index.php?m=user">
                <table width="100%" border="0" cellpadding="5" cellspacing="0" class="maintable">
					<tr>
						 <td width="20%" align="right">公司类型：</td>
						 <td>
							<select name="shoptype" id="shoptype" datatype="n" nullmsg="请选择公司类型！">
								<{$select_dealer_category}>
							</select>
						 </td>
					</tr>
                    <tr>
                        <td width="20%" align="right">公司名称：</td>
                        <td><input name="company" type="text" value="<{$user.company}>" size="30" class="inp01" datatype="s" nullmsg="请填写公司名称！"/></td>
                    </tr>
					<tr>
                        <td align="right">公司地址：</td>
                        <td><input id="address" name="address" type="text" value="<{$user.address}>" size="50" class="inp01"  datatype="s" nullmsg="请填写公司地址！"/>
                        <button id="codeAddress" type="button">搜索</button></td>
                    </tr>
                    <tr>
                        <th>地图定位：</th>
                        <td>
                            <!--   定义地图显示容器   -->
                            <div id="container" style="width:500px; height:300px"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>经度：</th>
                        <td><input id="lon" type="text" name="lon" value="<{$user.lon}>" class="inp01"
                                size="50" datatype="*" nullmsg="请填写公司地址经度！" ignore="ignore" />
                        </td>
                    </tr>
                    <tr>
                        <th>纬度：</th>
                        <td><input id="lat" type="text" name="lat" value="<{$user.lat}>" class="inp01"
                                size="50" datatype="*" nullmsg="请填写公司地址纬度！" ignore="ignore" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">联系人：</td>
                        <td><input type="text" name="nicname" value="<{$user.nicname}>" class="inp01"  datatype="s" nullmsg="请填写联系人！"/></td>
                    </tr>
                    <tr>
                        <td align="right">手机：</td>
                        <td><input type="text" name="mobilephone" value="<{$user.mobilephone}>" class="inp01" datatype="m" ajaxurl="index.php?m=user&ajax=1" nullmsg="请输入手机号！" errormsg="请输入正确的手机号！"/></td>
                    </tr>
                    <tr>
                        <td align="right">固话：</td>
                        <td><input type="text" name="tel" value="<{$user.tel}>" class="inp01" datatype="/[\d]{7}/" ignore="ignore"  errormsg="请输入正确的固话号码！" /></td>
                    </tr>
                    <tr>
                        <td align="right">简介：</td>
                        <td colspan="3"><textarea name="shopdetail" rows="5" cols="60" class="textarea01"><{$user.shopdetail}></TEXTAREA></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="3"><div class="buttons">
                                <input type="submit" name="Submit" value="提 交" />
                                <input type="hidden" name="a" value="<{$ac}>">
                            </div></td>
                    </tr>
                </table>
            </form>