<!-- 通用底部 begin -->
<script src="/css/m/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="/css/m/js/jquery.flexslider-min.js"></script>
<div id="weixinBrowser" style="width:100%;height:100%; background:rgba(51,51,51,0.9); position:fixed;left:0px;top:0px ; z-index:100000001;display:block;display:none">
<div class="wap_share_tip" style="width:100%; position:absolute; z-index:100000001;"><i class="wap_share_tip_wxicon_more"></i><i class="wap_share_tip_wxicon"></i>
</div></div>
  <footer>
   <div class="clear"></div>
   <div class="footer_box_bot"></div>

<div class="footer_sum"><div class="bottom_sum"><div class="bottom_con">
<div class="classify "><a href="" id="indexclick" class="fotter_nav_link"><i class="footer_icon iconfont_home"></i><span class="fotter_nav_span">首页</span> </a></div>
<div class="classify"><a href="car.php?m=search&gas=1" class="fotter_nav_link"> <em class="fotter_nav_link"> <i class="footer_icon iconfont_jobhome"></i> <span class="fotter_nav_span">新车</span> </em></a> </div>
<div class="classify footer_nav_cur"> <a href="javascript:void(0);" id="jobclick" class="fotter_nav_link"> <i class="iconfont_homemore"></i> <span class="iconfont_homemore_bg"></span> <span class="fotter_nav_span">&nbsp;</span> </a> </div>
<div class="classify"><a href="car.php?m=search&gas=2" id="resumeclick" class="fotter_nav_link"> <em class="fotter_nav_link"> <i class="footer_icon iconfont_userhome"></i> <span class="fotter_nav_span">二手车</span> </em> </a> </div>
<div class="classify"><a href="javascript:void(0);" id="reg_mune_box" class="fotter_nav_link"> <i class="footer_icon iconfont_myhome"></i> <span class="fotter_nav_span">更多</span> </a></div>
</div></div></div>

<div style="width:100%;height:100%; background:rgba(0,0,0,0.9); position:fixed;left:0px;right:0px;bottom:0px;top:0px ; z-index:10000;display:none" id="footerjob">
<div class="foot_nav_close"></div>
    <div class="foot_nav_box" style="width:100%; position:absolute;">
     <ul class="foot_nav_box_list">
<li><a href=""><span class="foot_nav_box_list_icon cor_8"><i class="nav_icon iconfont_lt "></i></span><div class="foot_nav_box_name">泉州汽车</div></a> </li>
<li><a href="http://m.xqzrc.com/"><span class="foot_nav_box_list_icon cor_5"><i class="nav_icon iconfont_px "></i></span><div class="foot_nav_box_name">泉州人才</div></a> </li>
<li><a href="http://m.xqzfc.com/"><span class="foot_nav_box_list_icon cor_6"><i class="nav_icon iconfont_once "></i></span><div class="foot_nav_box_name">泉州房产</div></a> </li>
<li><a href="http://m.fjnaw.com/"><span class="foot_nav_box_list_icon cor_3"><i class="nav_icon iconfont_news"></i></span><div class="foot_nav_box_name">分类信息</div></a> </li>
<li><a href="http://m.naqcw.com/"><span class="foot_nav_box_list_icon cor_4"><i class="nav_icon iconfont_jf "></i></span><div class="foot_nav_box_name">南安汽车</div></a> </li>
<li><a href="http://m.narczp.com/"><span class="foot_nav_box_list_icon cor_7"><i class="nav_icon iconfont_tiny"></i></span><div class="foot_nav_box_name">南安人才</div></a> </li>
<li><a href="http://m.nafcxx.com/"><span class="foot_nav_box_list_icon cor_2"><i class="nav_icon iconfont_comp "></i></span><div class="foot_nav_box_name">南安房产</div></a> </li>
<li><a href="http://m.nawzjs.com/"><span class="foot_nav_box_list_icon cor_1"><i class="nav_icon iconfont_job"></i></span><div class="foot_nav_box_name">网站建设</div></a> </li>
     </ul>
    </div>
   </div>
  </footer>

  <div class="dh_dibu" id="reg_mune1" style="display:none">
    <div class="dh_close"></div>
         <ul>
             <li class="dh_dibul2"><a href="/m/news/">行业动态</a></li>
             <li class="dh_dibul2"><a href="/m/cx/">优惠促销</a></li>
             <li class="dh_dibul2"><a href="/m/jt/">交通建设</a></li>
             <li class="dh_dibul2"><a href="/m/dg/">导购评测</a></li>
             <li class="dh_dibul2"><a href="/m/sg/">交通事故</a></li>
             <li class="dh_dibul2"><a href="/m/315/">315投诉</a></li>
         </ul>
         <div class="dh_dibul"><a href="car.php?m=search&gas=1">新车</a></div>
         <div class="dh_dibul1"><a href="car.php?m=search&gas=2" >二手车</a></div>
         <div class="dh_dibul3"><a href="car.php?m=search">选车中心</a></div>
     </div>

  <div class="dh_dibu" id="reg_mune" style="display:none">
    <div class="dh_close"></div>
         <ul>
             <li class="dh_dibul2"><a href="/m/">汽车新闻</a></li>
             <li class="dh_dibul2"><a href="/m/jt/">交通路况</a></li>
             <li class="dh_dibul2"><a href="http://news.xqzfc.com/m/">房产新闻</a></li>
             <li class="dh_dibul2"><a href="http://news.nawzjs.com/m/">互联网新闻</a></li>
         </ul>
         <div class="dh_dibul"><a href="car.php?m=search&gas=1">新  车</a></div>
         <div class="dh_dibul1"><a href="car.php?m=search&gas=2">二手车</a></div>
         <div class="dh_dibul3"><a href="car.php?m=search">选车中心</a></div>
     </div>

  <script>
$(document).ready(function ()
{
$('#jobclick').click('click', function () {
      $('#footerjob').toggle();
      $('#footerresume').hide();
});
	$('#footerjob').click('click', function ()
{
$('#footerjob').hide();
});
    $('#reg_mune_box').click('click', function ()
{
$('#reg_mune').toggle();
      $('#footerresume').hide();
});
	$('#reg_mune').click('click', function ()
{
$('#reg_mune').hide();
});
	$('#reg_mune_boxs').click('click', function ()
{
$('#reg_mune').toggle();
      $('#footerresume').hide();
});
	$('#reg_mune').click('click', function ()
{
$('#reg_mune').hide();
});

    $('#reg_mune_box1').click('click', function ()
{
$('#reg_mune1').toggle();
      $('#footerresume1').hide();
});
	$('#reg_mune1').click('click', function ()
{
$('#reg_mune1').hide();
});
	$('#reg_mune_boxs1').click('click', function ()
{
$('#reg_mune1').toggle();
      $('#footerresume').hide();
});
	$('#reg_mune1').click('click', function ()
{
$('#reg_mune1').hide();
});
});

</script>
<!-- 通用底部 end -->