<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>泉州汽车网(WWW.QZQCW.COM)-泉州最大汽车门户网</title>
	<link href="/css/m/css/qzqcw.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--主体-->
<div class="topsearch mt10">
	<div class="box">
		<form method="get" action="car.php">
			<input type="text" name="k" class="keyword remindAuto"><input type="hidden" name="m" value="search"><input type="hidden" name="a" value="search"><input type="submit" class="but01" value="">
		</form>
	</div>
</div>
<div class="indexmain">
	<div class="indexmenu mt5">
		<ul class="clearfix">
			<li class="bbr"><a href="car.php?m=search" class="menu01">新闻</a></li>
			<li class="bbr"><a href="car.php?m=search" class="menu02">买车</a></li>
			<li class="bbr"><a href="car.php?m=search" class="menu03">热点</a></li>
			<li class="bbr"><a href="car.php?m=search" class="menu04">优惠</a></li>
		</ul>
	</div>
		
	<div class="indexmenu mt5">		
				<ul class="clearfix">
			<li class="bbr"><a href="?m=search&gas=1" class="menu05">新车</a></li>
			<li class="bbr"><a href="?m=search&gas=2" class="menu06">二手</a></li>
			<li class="bbr"><a href="?m=sellcar" class="menu07">卖车</a></li>
			<li class="bbr"><a href="?m=supersearch" class="menu08">筛选</a></li>
		</ul>
	</div>
	<div class="indexbox mt10">
		<h3><span class="title">车型</span></h3>
		<div class="box clearfix">
			<a href="car.php?m=search&model=41" class='bbr'>小型车</a><a href="?m=search&model=1" class='bbr'>微型车</a><a href="?m=search&model=3" class='bbr'>紧凑型车</a><a href="?m=search&model=4" >中型车</a><a href="?m=search&model=5" class='bbr'>中大型车</a><a href="?m=search&model=6" class='bbr'>豪华车</a><a href="?m=search&model=7" class='bbr'>MPV</a><a href="?m=search&model=8" >SUV</a><a href="?m=search&model=9" class='bbr'>跑车</a><a href="?m=search&model=38" class='bbr'>皮卡</a>		</div>
	</div>
		<div class="indexbox">
		<h3><span class="title">年份</span></h3>
		<div class="box clearfix">
			<a href="car.php?m=search&years=1" class='bbr'>1年以内</a><a href="?m=search&years=2" class='bbr'>2年以内</a><a href="?m=search&years=3" class='bbr'>3年以内</a><a href="?m=search&years=4" >4年以内</a><a href="?m=search&years=5" class='bbr'>5年以内</a><a href="?m=search&years=6" class='bbr'>6年以内</a><a href="?m=search&years=7" class='bbr'>6年以上</a>		</div>
	</div>
	<div class="indexbox">
		<h3><span class="title">价格</span></h3>
		<div class="box clearfix">
			<a href="car.php?m=search&price=1" class='bbr'>3万以下</a><a href="?m=search&price=2" class='bbr'>3-5万</a><a href="?m=search&price=3" class='bbr'>5-8万</a><a href="?m=search&price=4" >8-12万</a><a href="?m=search&price=5" class='bbr'>12-18万</a><a href="?m=search&price=6" class='bbr'>18-24万</a><a href="?m=search&price=7" class='bbr'>24-35万</a><a href="?m=search&price=8" >35-50万</a><a href="?m=search&price=9" class='bbr'>50-100万</a><a href="?m=search&price=10" class='bbr'>100万以上</a>		</div>
	</div>
</div>
<!--主体-->
<!--底部-->

<!--底部结束-->
</body>
</html>