<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>登记成功-泉州汽车网xqzqc.COM-泉州最大汽车门户网</title>
	<link href="http://car.xqzqc.com/css/m/css/xqzqc.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="notice mt10">
	<p class="f16 fb"><{$msg}></p>
	<p class="mt10">您已成功登记卖车，相关工作人员会主动与您取得联系，谢谢！</p>
	<div class="mt10 p10">
		<a href="/" class="button01">返回首页</a>
	</div>
</div>
<!--底部结束-->
</body>
</html>
